{
  "query": {
    "bool": {
      "must": [
        {
          "regexp": {
            "zip_code": {
              "value": "{{zip_code}}    "
            }
          }
        },
        {
          "term": {
            "state.keyword": {
              "value": "{{state}}"
            }
          }
        },
        {
          "term": {
            "city.keyword": {
              "value": "{{city}}"
            }
          }
        },
        {
          "match": {
            "address": {
              "query": "{{address}}",
              "operator": "and",
              "zero_terms_query": "all"
            }
          }
        }
      ]
    }
  },
  "size":10,
  "_source": "address"
}
