{
  "query": {
    "bool": {
      "must": [
        {
            "term": {
              "state.keyword": {
                "value": "{{state}}"
              }
            }
        },
        {
            "term": {
              "city.keyword": {
                "value": "{{city}}"
              }
            }
        },
        {
          "match": {
            "address": {
              "query": "{{address}}",
              "zero_terms_query": "all"
            }
          }
        }
      ]
    }
  },
  "size":20,
  "_source": "address"
}
