{
  "query": {
    "bool": {
      "must": [
        {
          "term": {
            "zip_code": {
              "value": "{{zip_code}}"
            }
          }
        },
        {
          "term": {
            "state.keyword": {
              "value": "{{state}}"
            }
          }
        }
      ]
    }
  },
  "aggs": {
    "city": {
      "terms": {
        "field": "city.keyword",
        "size": 20
      }
    }
  },
  "size":0
}
