{
  "query": {
    "bool": {
      "must": [
        {
          "regexp": {
            "post_code": {
              "value": "{{post_code}}.*"
            }
          }
        }
      ]
    }
  }
}
