blinker==1.4
certifi==2018.10.15
Click==7.0
-e git://github.com/elastic/apm-agent-python.git@18150842ee359b8bb9761c85fd95f1f1fa476f5d#egg=elastic_apm
elasticsearch==6.3.1
Flask==1.0.2
itsdangerous==1.1.0
Jinja2==2.10
MarkupSafe==1.0
pystache==0.5.4
urllib3==1.24
Werkzeug==0.14.1