address_resolver/src/src/
target/*
.settings/*
.classpath
.project
.idea
*.iml
/target
**/node_modules
**/typings
generated/
**DS_Store
# Easier branch switching
springboot-petclinic-client/
springboot-petclinic-server/
**/.venv*
**/__pycache__*
**__pycache__**
